.list-view-background {
    --background: url('../../assets/login-bg.jpg') no-repeat center center fixed;
}

.list-md {
    --ion-item-background: transparent !important
}

.list-ios {
    --ion-item-background: transparent !important
}

.delete-btn {
    --box-shadow: none !important
}